* {
    box-sizing: border-box;
}
body {
    background: url(https://wallpapercave.com/wp/r1LiW8Y.jpg);
    font-family: sans-serif;
    margin-top: 30px;

}

#hangmanIcons {
	width: 200px;
	height: 200px;
	margin: 5px;
}

.imgHolder {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: rgb(85, 138, 199);
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}

.letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}

footer {
    padding-bottom: -500px;
}